.row {
    display: flex;
}

.col-xs-2 {
    width: 120px;
    border: 1px solid #ededed;
    border-radius: 3px;
}

.col-xs-6 {
    flex-grow: 1;
}

.list-group-item {
    display: inline-block;
    width: 120px;
    text-decoration: none;
    color: #333;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.panel-body {
    margin-left: 20px;
    padding: 24px;
}

.list-group-item:not(:first-child) {
    border-top: 1px solid #ededed;
}

ul {
    list-style: none;
    padding: 0;
}
