<div class="app">
  <!-- <div class="alert" [class.alert-primary]="isPrimary" [class.alert-danger]="!isPrimary" role="alert">
    绑定单个类
  </div>
  <div class="alert" [class]="alertClass"  role="alert">
    绑定多个类
  </div>
  <div>{{ title }}</div>
  <div>值: {{ getValue() }}</div>
  <div>职业: {{ job }}</div>
  <div>性别: {{ gender === 0 ? '男' : '女' }}</div>
  <div>
    <img [src]="catImg.url" [alt]="catImg.alt">
    <img src="{{catImg.url}}" alt="{{catImg.alt}}">
    <img bind-src="dogImg.url" bind-alt="dogImg.alt">
  </div>
  <div>
    <span [attr.data-title]="customTitle">绑定给自定义属性</span>
  </div>
  <div [style]="divStyle">这是一段文件，测试绑定多个样式</div> -->
  <app-layout></app-layout>
</div>
<router-outlet />