.repository {
    height: 100%;

    .header {
        height: 32px;
        padding: 24px;
        box-sizing: content-box;
        background: rgba(136, 204, 255, 0.18);
    }

    .container {
        display: flex;
        height: calc(100% - 100px);

        aside {
            width: 50%;
            height: calc(100% - 100px);
        }

        .content {
            flex-grow: 1;
        }
    }
}