<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>初始Vue</title>
    <script src="../js/vue.js"></script>
    <style>
        * {
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
        }
    </style>
</head>

<body>

    <div id="root">
        <form @submit.prevent="submitForm">
            <h3>学生信息</h3>
            <label for="account">
                账号：
                <input type="text" id="account" v-model.trim="form.account">
            </label> <br><br>
            <label for="password">
                密码：
                <input type="text" id="password" v-model="form.password">
            </label><br><br>
            <label for="age">
                年龄：
                <input type="number" id="age" v-model.number="form.age">
            </label><br><br>
            性别：
            男 <input type="radio" name="sex" value="male" v-model="form.sex">
            女 <input type="radio" name="sex" value="female" v-model="form.sex">
            <br><br>
            爱好：
            学习 <input type="checkbox" name="hobbies" value="study" v-model="form.hobbies">
            打游戏 <input type="checkbox" name="hobbies" value="game" v-model="form.hobbies">
            吃饭 <input type="checkbox" name="hobbies" value="eat" v-model="form.hobbies">
            <br><br>
            所属校区：
            <select v-model="form.city">
                <option value="">请选择校区</option>
                <option value="beijing">北京校区</option>
                <option value="shanghai">上海校区</option>
                <option value="jiangxi">江西校区</option>
            </select>
            <br><br>
            其他信息：
            <textarea v-model.lazy="form.other"></textarea>
            <br><br>
            <input type="checkbox" v-model="form.agree"> 阅读并接受<a href="http://www.baidu.com">用户协议</a>
            <br><br>
            <button>提交</button>
        </form>
    </div>

    <script type="text/javascript">
        const vue = new Vue({
            el: '#root',
            data: {
                form: {
                    account: '',
                    password: '',
                    age: '',
                    sex: 'female',
                    hobbies: [],
                    city: '',
                    other: '',
                    agree: false
                }
            },
            methods: {
                submitForm() {
                    console.log(this.form, 'form')
                }
            },
            computed: {
                
            }
        })

    </script>
</body>

</html>